* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue";
    background-color: #f4f4f5;
}

body>div {
    margin: auto;
}


/*BLOCK*/

.btn {
    display: inline-block;
    /*Nằm ngang*/
    text-decoration: none;
    /*Mất gạch chân*/
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    padding: 12px 48px;
    border-radius: 60px;
    cursor: pointer;
    min-width: 120px;
    transition: opacity 0.2s ease;
}

.btn--small {
    padding: 8px 32px;
}

.btn--large {
    padding: 16px 56px;
}

.btn:hover {
    opacity: 0.6;
}

.btn+.btn {
    margin-left: 16px;
}

.btn--success {
    background-color: rgb(2, 247, 124);
}

.btn--warn {
    background-color: rgb(247, 222, 0);
}

.btn--danger {
    background-color: rgb(255, 0, 0);
}

.btn--disabled {
    opacity: 0.4 !important;
    cursor: default;
}